* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    margin-bottom: 30px;
}

.controls {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #3b82f6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

#treeContainer {
    position: relative;
    margin-top: 40px;
}

.node {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #22c55e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.4s;
}

.line {
    position: absolute;
    height: 2px;
    background: white;
    transform-origin: left;
}